.navbar-custom {
    background-color: #581845;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: hsl(0, 100%, 30%);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: hsl(0, 100%, 30%);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

